# Supabase credentials (get from supabase dashboard)
NEXT_PUBLIC_SUPABASE_URL=https://sabioyodeknilfrzvgja.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNhYmlveW9kZWtuaWxmcnp2Z2phIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzAwMDk4MjYsImV4cCI6MjA4NTU4NTgyNn0.wWhT9pvN96QfJ_LMi3Q-hKcgl5OVlV1A6b_ArLSutLY
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNhYmlveW9kZWtuaWxmcnp2Z2phIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDAwOTgyNiwiZXhwIjoyMDg1NTg1ODI2fQ.KTW7oTaIFKqW4SaQ4hjmc0sKsgyL4DkvnVEhg3CSgRs
